/* ---------- Base styles ---------- */
:root {
  --bg-gray: rgba(0, 0, 0, 0.03);
  --blue: rgba(152, 255, 251, 0.5);
  --border-radius: 6px;
  --box-shadow: 0px 1px 2px 1.5px rgba(0, 0, 0, 0.2);
  --light-red: rgba(255, 133, 133, 0.4);
  --red: rgba(255, 133, 133, 0.8);
  --yellow: rgba(255, 255, 123, 0.8);
}

* {
  margin: 0;
  outline: none;
  padding: 0;
  box-sizing: border-box;
}

aside {
  background: var(--bg-gray);
  display: flex;
  flex-direction: column;
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  height: 100%;
  justify-content: space-between;
  padding: 1rem 1rem 2.4rem 1rem;
}

body,
html {
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
}
h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

h2 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 15px;
}

i {
align-items: center;
}

main {
  grid-column: 1 / 2;
}

nav {
  display: flex;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-content: space-between;
  padding: 0.5rem 1rem 0 1rem;
}

p {
  font-family: "Noto Sans", sans-serif;
}

/* ---------- BEM ---------- */
.app-container {
  height: 100%;
  display: grid;
  grid-template-columns: 74% minmax(min-content, 26%);
  grid-template-rows: 76px 1fr;
  width: 100%;
}

.blue {
  background-color: var(--blue);
}

.center-rc-text {
  /* width: 50%; */
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
}

.chart-container {
  height: 90%;
  position: relative;
  width: 100%;
}

.challenge-goals {
  max-height: 42.5vh;
  overflow: scroll;
}

#challenge-bar {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 5px;
  margin: 2.5% 0;
}

.challenge-label {
  font-size: 12px;
  padding: 2% 17.5px 2% 2%;
  align-self: flex-end;
}

.challenge-name {
  margin: 4% 0 2% 0;
  font-size: 12px;
}

.challenge-flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: -5%;
}

.community-average-select {
}

.community-label {
  margin-bottom: 5%;
}

.fitlit-nav-logo {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.flatpickr {
  text-align: right;
  padding-right: 20px;
  height: 50px;
  width: 310px;
  justify-content: flex-end;
  margin-top: 1%;
}

.friend {
  display: flex;
  align-content: center;
}

.friend__image {
  border-radius: 100%;
  height: 25px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 25px;
}

.friend__title {
  margin-bottom: 0.6rem;
}

.grade-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.large-card {
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  cursor: grab;
  height: 42.5vh;
  margin: 1.5%;
  overflow: scroll;
  padding: 2.5%;
  width: 95%;
}

.large-card-container {
  display: flex;
}

.large-card-right {
  grid-column-start: 2;
  grid-column-end: 4;
}

.large-card-left {
  grid-column-start: 1;
  grid-column-end: 3;
}

.latest-week__article {
  display: flex;
  flex-direction: column;
}

.latest-week__content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.latest-week__title {
  margin-bottom: 1rem;
  text-align: center;
}

.latest-week__title-main {
  margin-bottom: 2%;
  text-align: left;
}

.latest-week__type {
  display: flex;
  padding: 2px 0;
}

.latest-week__type-date {
  display: flex;
  width: 26px;
}

.latest-week__wrapper {
  display: flex;
  justify-content: space-between;
}

.latest-week__wrapper-activity,
.latest-week__wrapper-hydration,
.latest-week__wrapper-sleep {
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
  padding: 0.6rem;
}

.latest-week__wrapper-activity {
  background: var(--light-red);
  width: 50%;
}

.latest-week__wrapper-hydration {
  background: var(--blue);
  width: 20%;
}

.latest-week__wrapper-sleep {
  background: var(--yellow);
  width: 30%;
}

.light-red {
  background-color: var(--light-red);
}

.middle-label {
  margin: 7.5% 0;
}

.overall-grade {
  align-items: flex-start;
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
}

.red {
  background-color: var(--red);
}

.report {
  display: flex;
  flex-direction: row;
  font-style: italic;
  font-size: 1rem;
  justify-content: flex-start;
}

.report-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report-card-title {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 15px;
  margin-bottom: 0.6rem;
  width: 100%;
}

.resources {
  border: solid 1px black;
}

.row-a,
.row-b {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.settings__title {
  margin-bottom: 0.6rem;
}

.small-card {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  cursor: grab;
  margin: 2.5%;
  overflow: scroll;
  padding: 5%;
  /* display: flex;
  flex-direction: column;
  flex-grow: 1; */
  width: 90%;
  /* height: 42.5vh; */
  background-color: #fff;
}

.small-label {
  font-size: 12px;
  font-style: italic;
}

.user-profile {
  display: flex;
  width: 20%;
}

.user-profile__image {
  border-radius: 100%;
  width: 50px;
}

.user-profile__name {
  align-items: center;
  display: flex;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  padding-left: 1.4rem;
  font-style: italic;
}

.widget-block {
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-around;
  margin: 5% 0;
  padding: 2.5% 5%;
}

.widget-block-challenge-bar {
  border-radius: 5%;
  display: flex;
  justify-content: space-around;
  margin: 5% 0;
  padding: 2.5%;
  width: 0;
}

.widget-block fas,
.widget-block far {
  font-size: 1.5rem;
}

.widget-block-small {
  border-radius: var(--border-radius);
  display: flex;
  font-size: 15px;
  padding: 1% 5%;
}

.widget-block-small > * {
  margin: 0.5% 2.5%;
}

.widget-block-small fas,
.widget-block-small far {
  font-size: 1rem;
}

.widget-label {
}

.yellow {
  background-color: var(--yellow);
}

/* ---------- Active states ---------- */
.is-hidden {
  display: none;
}

/* ---------- Media queries ---------- */
@media screen and (max-width: 960px) {
  .latest-week__wrapper {
    flex-flow: column;
  }
  .latest-week__wrapper-activity,
  .latest-week__wrapper-hydration,
  .latest-week__wrapper-sleep {
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .app-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  aside {
    justify-content: flex-start;
  }

  .card-container > * {
    grid-row: auto;
  }

  .app-container aside {
    display: none;
  }

  .challenge-goals {
    max-height: 100%;
  }

  .data-summary {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 1rem;
    padding-right: 0.6rem;
  }

  .large-card {
    padding: 1rem;
    width: 90%;
  }

  .large-card-right {
    grid-column: auto;
    grid-row: auto;
  }

  .latest-week__wrapper {
    padding-right: 0.6rem;
  }

  .latest-week__wrapper-activity {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  .latest-week__wrapper-hydration {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .latest-week__wrapper-sleep {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  main div {
    justify-content: center;
  }

  .row-a,
  .row-b {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
  }
}
